In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-01-29 20:41:04,42.0970,-79.2353,17.29,49,0,5.99
1,1,Simao,CN,2022-01-29 20:46:03,22.7886,100.9748,44.35,56,0,1.90
2,2,Butaritari,KI,2022-01-29 20:46:03,3.0707,172.7902,82.11,76,25,19.89
3,3,Suntar,RU,2022-01-29 20:46:04,62.1444,117.6319,-17.23,97,56,4.83
4,4,Lasa,IT,2022-01-29 20:46:04,46.6166,10.7002,44.06,60,3,8.55

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     582 non-null    int64
 1   City        582 non-null    object
 2   Country     578 non-null    object
 3   Date        582 non-null    object
 4   Lat         582 non-null    float64
 5   Lng         582 non-null    float64
 6   Max Temp    582 non-null    float64
 7   Humidity    582 non-null    int64
 8   Cloudiness  582 non-null    int64
 9   Wind Speed  582 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.6+ KB

In [4]:
# list =[1,4,5,6,8,15,21,23]
# list=[0 if j<10 else j for j in list]
# print(list)

In [5]:
city_data_df["Max Temp"].head(5)

0    17.29
1    44.35
2    82.11
3   -17.23
4    44.06
Name: Max Temp, dtype: float64

In [6]:
# city_data_df["Max Temp"] = [0 if temp<0 else temp for temp in city_data_df["Max Temp"]]  
# city_data_df["Max Temp"].head(5)

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
print(temps[3])

0

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
temps = [max(temp, 0) for temp in max_temp]
print(temps[4])
# for temp in max_temp:
#     temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
print(temps[4])
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

44.06
44.06

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
temps = [max(temp, 0) for temp in max_temp]
print(temps[4])
# for temp in max_temp:
#     temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
print(temps[4])
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

44.06
44.06

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
Wind_Speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind_Speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2022-01-29 20:46:03,3.0707,172.7902,82.11,76,25,19.89
9,9,Saint-Philippe,RE,2022-01-29 20:44:54,-21.3585,55.7679,76.59,85,55,9.06
14,14,Placido De Castro,BR,2022-01-29 20:42:11,-10.3353,-67.1856,75.06,98,100,1.01
26,26,Kapaa,US,2022-01-29 20:43:40,22.0752,-159.3190,78.78,72,0,3.00
27,27,Mahebourg,MU,2022-01-29 20:46:12,-20.4081,57.7000,80.89,78,40,9.22
28,28,Avarua,CK,2022-01-29 20:46:13,-21.2078,-159.7750,82.45,78,20,9.22
30,30,Atuona,PF,2022-01-29 20:46:14,-9.8000,-139.0333,77.72,75,18,13.67
31,31,Saint-Louis,SN,2022-01-29 20:46:14,16.3333,-15.0000,81.05,17,100,11.34
35,35,Balabac,PH,2022-01-29 20:46:16,7.9868,117.0645,79.00,79,57,2.51
43,43,Rikitea,PF,2022-01-29 20:46:19,-23.1203,-134.9692,77.32,73,100,10.71

In [16]:
preferred_cities_df.notnull().count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [17]:
len(preferred_cities_df)

141

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
2          Butaritari      KI     82.11   3.0707  172.7902
9      Saint-Philippe      RE     76.59 -21.3585   55.7679
14  Placido De Castro      BR     75.06 -10.3353  -67.1856
26              Kapaa      US     78.78  22.0752 -159.3190
27          Mahebourg      MU     80.89 -20.4081   57.7000
28             Avarua      CK     82.45 -21.2078 -159.7750
30             Atuona      PF     77.72  -9.8000 -139.0333
31        Saint-Louis      SN     81.05  16.3333  -15.0000
35            Balabac      PH     79.00   7.9868  117.0645
43            Rikitea      PF     77.32 -23.1203 -134.9692

In [19]:
https://maps.googleapis.com/maps/api/place/findplacefromtext/json()

SyntaxError: invalid syntax (Temp/ipykernel_112784/753658903.py, line 1)

In [24]:
locations =  hotel_df[["Lat","Lng"]]
locations.head(5)

        Lat       Lng
2    3.0707  172.7902
9  -21.3585   55.7679
14 -10.3353  -67.1856
26  22.0752 -159.3190
27 -20.4081   57.7000

In [ ]:
radius: 50,00 mmeters