## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bluff,NZ,59.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,1,Chuy,UY,74.01,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
2,5,Mataura,NZ,59.49,overcast clouds,-46.1927,168.8643,Ellie's Villa
3,7,Tabou,CI,86.36,scattered clouds,4.4230,-7.3528,hotêl doufoulougou
4,8,Quang Ngai,VN,72.55,overcast clouds,15.1167,108.8000,Central Hotel

In [3]:
bluff = vacation_df.loc[vacation_df["City"] == "Bluff"]
bluff

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bluff,NZ,59.81,overcast clouds,-46.6,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Call the figure 
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Srivardhan"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Srivardhan"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ponnani"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Mamallapuram"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Visakhapatnam"]

In [7]:
import numpy as np

In [8]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
253,500,Srivardhan,IN,79.18,clear sky,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan

In [9]:
vacation_start[["Lat", "Lng"]]
asTuple=[]
start = vacation_start[["Lat", "Lng"]].to_numpy()
for i in start:
    for u in i:
        asTuple.append(u)

In [10]:
import numpy as np

In [11]:
# vlist = vacation_start[["Lat", "Lng"]].to_numpy()
# vlist1 = [tuple(r) for r in vacation_start[["Lat", "Lng"]].to_numpy()]
# # [(1, 3), (3, 6), (5, 7), (6, 4), (7, 8)]
# # [tuple(r) for r in df[['a', 'b']].to_numpy()]
# # # [(1, 3), (3, 6), (5, 7), (6, 4), (7, 8)]
# # vlist=vlist.tolist()

# len(vlist1)

In [12]:
vacation_start[["Lat", "Lng"]]
asTuple = []
start = vacation_start[["Lat", "Lng"]].to_numpy()
for i in start:
    for u in i:
        asTuple.append(u)

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# start location 
loc1 = vacation_start[["Lat", "Lng"]].to_numpy()
start =[]
for i in loc1:
    for u in i:
        start.append(u)
        
# End location
end = start
# loc2 = vacation_end[["Lat", "Lng"]].to_numpy()
# end =[]
# for i in loc2:
#     for u in i:
#         end.append(u)
# stop 1 location
loc3 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1 =[]
for i in loc3:
    for u in i:
        stop1.append(u)
        
# stop 2 location 
loc4 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2 =[]
for i in loc4:
    for u in i:
        stop2.append(u)
        
# stop 3 location 
loc5 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3=[]
for i in loc5:
    for u in i:
        stop3.append(u)

In [14]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# loc1 = vacation_start[["Lat", "Lng"]].to_numpy()
# start =[]
# for i in loc1:
#     for u in i:
#         start.append(u)
# start=start.tolist()
# end = vacation_end[["Lat", "Lng"]].to_numpy()
# end =end.tolist()
# stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
# stop1 =stop1.tolist()
# stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
# stop2=stop2.tolist()
# stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
# stop3=stop3.tolist()

In [15]:
len(stop1)

2

In [16]:
import gmaps.datasets

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
print(start)
print(stop1)
fig = gmaps.figure()
starttoend = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(starttoend)
fig

[18.0333, 73.0167]
[10.767, 75.9252]

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,500,Srivardhan,IN,79.18,clear sky,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
1,500,Srivardhan,IN,79.18,clear sky,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
2,325,Ponnani,IN,88.92,clear sky,10.7670,75.9252,Rouba Residency
3,430,Mamallapuram,IN,82.45,few clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
4,376,Visakhapatnam,IN,76.89,haze,17.6900,83.2093,Best Western Ramachandra Hotel

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))